/* CategorySection.css */
.category-card {
  border: none;
  overflow: hidden;
  position: relative;
}

.category-image {
  background-size: cover;
  background-position: center;
  height: 200px;
  /* Adjust the height as needed */
  transition: transform 0.3s;
}

.category-overlay {
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s;
  transform: translateY(100%);
  /* Initial position, off-screen */
}

.category-card:hover .category-image {
  transform: scale(1.1);
  /* Adjust the scale factor for zoom effect */
}

.category-card:hover .category-overlay {
  opacity: 1;
  transform: translateY(0);
  /* Move overlay up on hover */
}